<div class="container">
  <%= form_for @market_list, html: { class: 'form mx-auto' } do |f| %>
    <div class="mb-3">
      <%= f.label :nome, class: 'form-label text-left' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :data, class: 'form-label text-left' %>
      <%= f.date_field :market_date, class: 'form-control' %>
    </div>

    <%= link_to 'Voltar para a Lista', market_lists_path, class: 'btn btn-primary mt-4' %> <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <% end %>
</div>



