<h1 class="mb-4 mt-4 text-center">Lista de Compras</h1>

<ul class="list-group">
  <% @market_lists.each do |list| %>
    <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
      <span>
        <%= "#{list.name}" %>
      </span>
      <div class="d-flex">
        <%= button_to 'Editar', edit_market_list_path(list), method: :get, form: { action: edit_market_list_path(list), method: :get }, class: 'btn btn-secondary', style: 'margin-right: 5px;' %>
        <%= button_to 'Excluir', list, method: :delete, data: { turbo_confirm: 'Tem certeza de que deseja excluir este item?' }, class: 'btn btn-danger', style: 'margin-right: 5px;' %>
        <%= button_to 'Ver Itens', market_list_path(list), method: :get, class: 'btn btn-secondary' %>
      </div>
    </li>
  <% end %>
</ul>

<%= button_to 'Nova lista de Mercado', new_market_list_path, method: :get, class: 'btn btn-primary', style: 'margin-left: 10px;' %>

