<h1>Lista de Compras</h1>

<ul class="list-unstyled">
  <% @market_lists.each do |list| %>
    <li class="d-flex align-items-center mb-2">
      <span class="mr-2">
        <%= "#{list.name} #{list.market_date}" %>
      </span>
      <%= button_to 'Editar', edit_market_list_path(list), class: 'btn btn-secondary mr-2' %>
      <%= button_to 'Excluir', list, method: :delete, data: { turbo_confirm: 'Tem certeza de que deseja excluir este item?' }, class: 'btn btn-danger mr-2' %>
      <%= button_to 'Ver itens', list, class: 'btn btn-secondary' %>
    </li>
  <% end %>
</ul>


<%= link_to 'Nova lista de Mercado', new_market_list_path %>


